*

!.profile
!.vimrc
!.config/i3*
!.config/regolith/**/*
!.local/bin/lock
!.zshrc.d/999-asdf
!.zgen-local-plugins
!.gitignore
!.config/redshift/redshift.conf
!.tidyrc

/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
